.root {
    -fx-min-height: 1080px;
    -fx-min-width: 1920px;
}

.button, .button:hover {
    -fx-background-insets: 0,0,0,0,0;
}

.primaryButton {
    -fx-padding: 8 16;
    -fx-background-radius: 11;
    -fx-border-radius: 10;
    -fx-background-color: linear-gradient(to top,rgba(0, 50, 100, 1) 0%, rgba(20, 120, 220, 1) 100%);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-alignment: center;
}
.primaryButton:hover {
    -fx-background-color: linear-gradient(to top,rgba(0, 35, 100, 1) 0%, rgba(20, 100, 220, 1) 100%);
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.2), 30, 0, 0, 0);
}
.primaryButton:pressed {
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.6), 30, 0, 0, 0);
}

/*Inverted button*/
.invertedButton {
    -fx-padding: 6 14;
    -fx-border-width: 2;
    -fx-background-radius: 11;
    -fx-border-radius: 10;
    -fx-border-color: linear-gradient(to top,rgba(0, 50, 100, 1) 0%, rgba(20, 120, 220, 1) 100%);
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to top,rgba(0, 50, 100, 1) 0%, rgba(20, 120, 220, 1) 100%);
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-alignment: center;
}
.invertedButton:hover {
    -fx-border-color: linear-gradient(to top,rgba(0, 35, 100, 1) 0%, rgba(20, 100, 220, 1) 100%);
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgba(0, 35, 100, 0.4), 30, 0, 0, 0);
}
.invertedButton:pressed {
    -fx-effect: innershadow(gaussian, rgba(0, 35, 100, 0.6), 30, 0, 0, 0);
}

/*Header with nav buttons*/
.header {
    -fx-padding: 10 20;
    -fx-alignment: center;
    -fx-min-height: 80;
    -fx-pref-height: 80;
    -fx-max-height: 80;

}
.headerBox {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.scroll-pane, .scroll-pane:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}